<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ADS Fanout on prod" verbose="10" >

<!--<listeners>-->
<!--	<listener class-name="com.monotype.mt_common_utils.testRailUtils.TestNgListener"></listener>-->
<!--</listeners>-->

<test name="ADSAutomationSuiteTesting All V2 APIs">
	<classes>
		<class name="RunDataForGivenDays"></class>
	</classes>

</test>
</suite>
